.card-text{
    font-size: 30px;
    color:blue;
    font-weight: bolder;
}

sup{
    font-size: medium;
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#totaldeaths,#newdeaths{
    color: red;
}

#recovered{
    color: green;
    font-weight: bolder;
}

b{
    font-family: cursive;
}

.nav-item{
    text-align: center;
}

.fixed{
    width: 100%; 
    background-color: rgb(180, 180, 180); 
    padding-bottom: 20px; 
    margin-top: 100px; 
    text-align: center; 
    padding-top: 12px; 
    height: 50px;
}